{{> navbar}}
<h1>Listado de Productos <br></h1>
<form action="/productos" method="post">
    <input type="text" name="name" placeholder="Ingrese Producto">
    <input type="number" name="price" placeholder="Ingrese Precio">
    <input type="number" name="stock" placeholder="Ingrese Stock">
    <button type="submit"> <b>Crear Producto</b> </button>

</form>
<div class="row justify content-around">
{{#each products}}

 <div class="mt-3 mb-3 col-4">
    <div class="card" style="width: 18rem;">
      <img src="./" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">El precio es {{price}} con stock de {{stock}}</p>
   <form action="/productos?_method=delete" method="post">
       <input type="hidden" name="id" value={{id}}>
       <h6>Nombre:</h6>
       <input name="name" placeholder={{name}}>
       <h6>Precio:</h6>
       <input name="price" placeholder={{price}}>
       <h6>Stock:</h6>
       <input name="stock" placeholder={{stock}}>
       <button type="submit"> <b>Borrar</b> </button>
   </form>
  <form action="/productos?_method=PUT" method="post">
      <input type="hidden" name="id" value={{id}}>
      <button type="submit"> <b> Update </b> </button>
     </div>
    </div>
   </div>
  </form>

{{/each}}
</div>